@keyframes liOnmouse
{
    to
    {
        background-color:rgb(85, 85, 85) ;
    }
}
.nav{
    width: 15%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    position: fixed;
    top:0;
    left:0;
    padding-top: 10px;
    padding-bottom:10px;
    box-shadow: 1px 5px 5px 3px #888888;
}

.mainTitle{
    padding: 5%;
    font-size:24px;
    width:80%;
    color:white;
    background-color:rgb(85, 85, 85) !important;
    text-indent:10%;
}

.subTitle{
    padding: 4%;
    font-size:20px;
    width:82%;
    color:white;
    background-color:rgb(85, 85, 85) !important;
    text-indent:10%;
}

.dropdown{
    text-indent:10%;
    top:0px;
    width:100%;
    font-size:18px;
    background-color:transparent;
    color: white;
    list-style: none;
}

.dropdown-Menu{
    height: 0;
    margin:0px;
    width:100%;
    font-size:18px;
    padding:0%;
    color: rgb(151, 144, 144);
    overflow: hidden;
    transition: height ease 0.5s;
}

.dropdown-Head{
    background-image:url("./icons_dark/arrow_down.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size:10%;
    width:100%;
    font-size:18px;
    background-color:transparent;
    cursor: pointer;
    color: rgb(151, 144, 144);
}

.dropdown-Head:hover{
    animation: "liOnmouse" 0.5s ease forwards !important;
}

.splitLine{
    margin-left:3%;
    margin-right:10%;
    width: 87%;
    border-top: solid rgb(65, 64, 64) 1px;
}
#hideBtn{
    background-image: url("./icons_dark/arrow_left.png");
    background-size: 100%;
    background-position: center; 
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    right:0px;
    width:10%;
    height:100%;
    border: none;
    cursor: pointer;
}

#styleBtn{
    background:url("./icons_dark/style.png");
    background-size:100%;
    position: absolute;
    bottom:5%;
    left:5%;
    width:30px;
    height:30px;
    border: none;
    cursor: pointer;
}
a
{
    text-decoration-line: none;
    color: white;
}

.nav li{
    color:white;
    width:84%;
    font-size:18px;
    padding:3%;
    text-indent:10%;
    border-bottom:solid;
    border-width: 1px;
    border-color:rgb(59, 59, 59);
}

.nav li:hover{
    animation: "liOnmouse" 0.5s ease forwards !important;
    border-left-color:lightgray;
    border-left-width: 2px;
    border-left:solid;
}